<form class="form" #authForm="ngForm" (submit)="onSubmited()">
  <ng-content select="h3"></ng-content>
  <label for=""></label>
  <input type="email" autocomplete="off" [(ngModel)]="user.email"  placeholder="Email" name="userEmail" #email>

  <label>Password</label>
  <input type="password" autocomplete="off" [(ngModel)]="user.password" placeholder="password" name="userPass">
  <ng-content select="app-auth-remember"></ng-content>
  <div [style.display]="(showMsg ? 'inherit' : 'none')">
    <app-message></app-message>
  </div>
  <ng-content select="button"></ng-content>
</form>
