<app-auth (formEmitter)="auth($event)">
  <h3>Login</h3>
  <app-auth-remember (checkEmitter)="rememberUser($event)"></app-auth-remember>
  <button type="submit">LogIn</button>
</app-auth>
<br><br>
<hr>
<!--<app-auth (formEmitter)="auth($event)">-->
<!--<h3>Change Password</h3>-->
<!--<button type="submit">Change Pass</button>-->
<!--</app-auth>-->

<div #entry>

</div>

<hr>
<div>
  <button (click)="logStream(stream1$)">Stream-1</button>
</div><br><br>
<div>
  <button (click)="logStream(stream2$)">Stream-2</button>
</div><br><br>
<div>
  <button (click)="changeValue()">Button-3</button>
</div>
